---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` and set theme here
@import
        "theme-{{ site.theme_color | default: "light" }}.scss"
        // "theme-{{ site.theme_fonts | default: "system" }}.scss"
;

.center {
	text-align: center;
	display: block;
	margin: 0 auto;
}



figcaption {
    padding-bottom: 20px;
    margin-top: -30px;
    color: #3336;
}
.twitter-tweet {
	margin: 0 auto;
}
